<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5 class="mb-3">ちのgit</h5>
        <p class="text-light mb-2">琉球大学工学部知能情報コース生向けの就活version管理SNS</p>
        <p class="text-light small">毎日commitして、みんなで理想のmain branchに向かおう🚀</p>
      </div>
      <div class="col-md-6">
        <h6 class="mb-3">ナビゲーション</h6>
        <ul class="list-unstyled">
          <li class="mb-2">
            <%= link_to "ホーム・コンセプト", home_index_path, class: "text-light text-decoration-none" %>
          </li>
          <li class="mb-2">
            <%= link_to "ちのgit", posts_path, class: "text-light text-decoration-none" %>
          </li>
        </ul>
      </div>
    </div>
    <hr class="my-4 border-secondary">
    <div class="row">
      <div class="col-12 text-center">
        <p class="text-light small mb-0">
          &copy; <%= Date.current.year %> ちのgit. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
